@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1604204953733'); /* IE9 */
  src: url('iconfont.eot?t=1604204953733#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ4AAsAAAAABigAAAItAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAowUAE2AiQDCAsGAAQgBYRtBzMbeQURBVzJvkiwbdGsPyMUaGiOyfPG2VdyjWAxNlgTD8+vfTt33p2/b2dWPAmmSSzhTVwjkUqC2EjBJNEs/63pGO6NilBdsoduPcv/yI92p2Gdx2mMZAuJkMAGnECIsWQ+CFyZ023QRbzf57mc3gQ6kGt8oFzGGDTWpEm9AOOAAtobo8hK6Jwbxi5wCc8JdJZtFYeLo2dVyVoXiKfhwS01F5WSFaowqDma4p1Wbd40H7wNfx+/bYtKoy2slpP3j9y1/xe7pLwe5qpPiBHQ6RYFW5HE2drscUUwrujOp9VIKfhleOwRe/3zxIBVPwYWYS74xRVQgAYkCnpMjApT0p4+bSpMv8LMn597wYq999XL2ct+LFiKPwLB1/7G5Op/7RN82GWhqp+fuq4v+AfqngOpay13k6q6ttjolX23dToM4eCMz2Nt8ycshmr+tP4RSymKai2Z7Fa0ejswUKX70NmiPN2bRZYiR7HZFSBMuaEx4T2KKV8y2R9aC/4YmIolOucDObxqfQQhoWQ0oC4QdN9Zx8sialyjOzSSstqQ3yNNIQFplBQLJXZIc+yYji5jtmCpb6EAr2HT9DBQX6HmyDMPeRzbug9Fum9nwiEESQwZQLkAgdbrWH80E6XvryHnoCFRS19Ndg+RSZgcpCJJD7I0db367uWdyZGTYcwCFum1QAEWoUajB4b6RRWksYgfkR7kYnuY7WuK1re0X3cMOpa9CXtPMfoQO3cOsktnMwA=') format('woff2'),
  url('iconfont.woff?t=1604204953733') format('woff'),
  url('iconfont.ttf?t=1604204953733') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1604204953733#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hengxian1:before {
  content: "\e506";
}

